<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>mezon</string>
	<key>CFBundleDisplayName</key>
	<string>Mezon</string>
	<key>CFBundleExecutable</key>
	<string>mezon</string>
	<key>CFBundleIdentifier</key>
	<string>mezon.desktop</string>
	<key>CFBundleVersion</key>
	<string>20</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.54</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires microphone access to enable audio recording features.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to capture photos or videos.</string>
</dict>
</plist>
